@model Nop.Plugin.WebApi.MobSocial.Models.ConfigurationModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            Configure mobSocial
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="Save">
        </div>
    </div>
    <p>
        @Model.MessageText
    </p>
    <script type="text/javascript">
        $(document)
            .ready(function () {
                $("#mobsocial-settings-edit")
                    .kendoTabStrip({
                        animation: {
                            open: {
                                effects: "fadeIn"
                            }
                        },
                        select: tabstrip_on_tab_select
                    });
            });

    </script>

    <div id="mobsocial-settings-edit">
        <ul>
            <li class='k-state-active'>
                Timeline Settings
            </li>
            <li>
                User Settings
            </li>
            <li>
                Battle Settings
            </li>
            <li>
                Album Settings
            </li>
            <li>
                Event Settings
            </li>
            <li>
                Artist Settings
            </li>
            <li>
                Business Settings
            </li>
            <li>
                Payment Settings
            </li>
            <li>
                Third Party Application Settings
            </li>
        </ul>
        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.TimelineSmallImageWidth_OverrideForStore, model => model.TimelineSmallImageWidth, Model.ActiveStoreScopeConfiguration)
                        <label>Timeline Post Small Image Width</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.TimelineSmallImageWidth)
                        @Html.ValidationMessageFor(model => model.TimelineSmallImageWidth)
                    </td>
                </tr>
            </table>
        </div><!--Timeline Settings-->

        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.ProfilePictureSize_OverrideForStore, model => model.ProfilePictureSize, Model.ActiveStoreScopeConfiguration)
                        <label>Profile Picture Size</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.ProfilePictureSize)
                        @Html.ValidationMessageFor(model => model.ProfilePictureSize)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.ShowProfileImagesInSearchAutoComplete_OverrideForStore, model => model.ShowProfileImagesInSearchAutoComplete, Model.ActiveStoreScopeConfiguration)
                        <label>Show Profile Images In Search Autocomplete</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.ShowProfileImagesInSearchAutoComplete)
                        @Html.ValidationMessageFor(model => model.ShowProfileImagesInSearchAutoComplete)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.PeopleSearchAutoCompleteEnabled_OverrideForStore, model => model.PeopleSearchAutoCompleteEnabled, Model.ActiveStoreScopeConfiguration)
                        <label>People search autocomplete enabled</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.PeopleSearchAutoCompleteEnabled)
                        @Html.ValidationMessageFor(model => model.PeopleSearchAutoCompleteEnabled)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.PeopleSearchTermMinimumLength_OverrideForStore, model => model.PeopleSearchTermMinimumLength, Model.ActiveStoreScopeConfiguration)
                        <label>People search term minimum length</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.PeopleSearchTermMinimumLength)
                        @Html.ValidationMessageFor(model => model.PeopleSearchTermMinimumLength)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.PeopleSearchAutoCompleteNumberOfResults_OverrideForStore, model => model.PeopleSearchAutoCompleteNumberOfResults, Model.ActiveStoreScopeConfiguration)
                        <label>People search autocomplete number of results</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.PeopleSearchAutoCompleteNumberOfResults)
                        @Html.ValidationMessageFor(model => model.PeopleSearchAutoCompleteNumberOfResults)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds_OverrideForStore, model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds, Model.ActiveStoreScopeConfiguration)
                        <label>Profile View Update Frequency (in seconds)</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds)
                        @Html.ValidationMessageFor(model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds)
                    </td>
                </tr>
            </table>
        </div><!--User settings-->

        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.ShowVideoThumbnailsForBattles_OverrideForStore, model => model.ShowVideoThumbnailsForBattles, Model.ActiveStoreScopeConfiguration)
                        <label>Show video thumbnails for battles</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.ShowVideoThumbnailsForBattles)
                        @Html.ValidationMessageFor(model => model.ShowVideoThumbnailsForBattles)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.DefaultVotingChargeForPaidVoting_OverrideForStore, model => model.DefaultVotingChargeForPaidVoting, Model.ActiveStoreScopeConfiguration)
                        <label>Default voting charge for paid voting</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DefaultVotingChargeForPaidVoting)
                        @Html.ValidationMessageFor(model => model.DefaultVotingChargeForPaidVoting)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.VideoUploadReminderEmailThresholdDays_OverrideForStore, model => model.VideoUploadReminderEmailThresholdDays, Model.ActiveStoreScopeConfiguration)
                        <label>Number of days after which reminder for video uploads should be sent</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.VideoUploadReminderEmailThresholdDays)
                        @Html.ValidationMessageFor(model => model.VideoUploadReminderEmailThresholdDays)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.BattleVoteReminderEmailThresholdDays_OverrideForStore, model => model.BattleVoteReminderEmailThresholdDays, Model.ActiveStoreScopeConfiguration)
                        <label>Number of days after which reminder for voting should be sent</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.BattleVoteReminderEmailThresholdDays)
                        @Html.ValidationMessageFor(model => model.BattleVoteReminderEmailThresholdDays)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.SiteOwnerSponsorshipPercentage_OverrideForStore, model => model.SiteOwnerSponsorshipPercentage, Model.ActiveStoreScopeConfiguration)
                        <label>Sponsorship percentage for this website</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.SiteOwnerSponsorshipPercentage)
                        @Html.ValidationMessageFor(model => model.SiteOwnerSponsorshipPercentage)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.BattleHostSponsorshipPercentage_OverrideForStore, model => model.BattleHostSponsorshipPercentage, Model.ActiveStoreScopeConfiguration)
                        <label>Sponsorship percentage for battle host</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.BattleHostSponsorshipPercentage)
                        @Html.ValidationMessageFor(model => model.BattleHostSponsorshipPercentage)
                    </td>
                </tr>
            </table>
        </div><!--Battle Settings-->

        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.CustomerAlbumPictureThumbnailWidth_OverrideForStore, model => model.CustomerAlbumPictureThumbnailWidth, Model.ActiveStoreScopeConfiguration)
                        <label>Album Picture Thumbnail Width</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.CustomerAlbumPictureThumbnailWidth)
                        @Html.ValidationMessageFor(model => model.CustomerAlbumPictureThumbnailWidth)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.MaximumMainAlbumPictures_OverrideForStore, model => model.MaximumMainAlbumPictures, Model.ActiveStoreScopeConfiguration)
                        <label>Maximum main album pictures</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.MaximumMainAlbumPictures)
                        @Html.ValidationMessageFor(model => model.MaximumMainAlbumPictures)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.MaximumMainAlbumVideos_OverrideForStore, model => model.MaximumMainAlbumVideos, Model.ActiveStoreScopeConfiguration)
                        <label>Maximum main album videos</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.MaximumMainAlbumVideos)
                        @Html.ValidationMessageFor(model => model.MaximumMainAlbumVideos)
                    </td>
                </tr>
            </table>
        </div><!--Album Settings-->

        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.EventPageSearchTermMinimumLength_OverrideForStore, model => model.EventPageSearchTermMinimumLength, Model.ActiveStoreScopeConfiguration)
                        <label>Event page search minimum length</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.EventPageSearchTermMinimumLength)
                        @Html.ValidationMessageFor(model => model.EventPageSearchTermMinimumLength)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.EventPageSearchAutoCompleteNumberOfResults_OverrideForStore, model => model.EventPageSearchAutoCompleteNumberOfResults, Model.ActiveStoreScopeConfiguration)
                        <label>Event page search autocomplete</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.EventPageSearchAutoCompleteNumberOfResults)
                        @Html.ValidationMessageFor(model => model.EventPageSearchAutoCompleteNumberOfResults)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.EventPageAttendanceThumbnailSize_OverrideForStore, model => model.EventPageAttendanceThumbnailSize, Model.ActiveStoreScopeConfiguration)
                        <label>Event page attendance thumbnail size</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.EventPageAttendanceThumbnailSize)
                        @Html.ValidationMessageFor(model => model.EventPageAttendanceThumbnailSize)
                    </td>
                </tr>

            </table>
        </div><!--Event Settings-->

        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.ArtistPageMainImageSize_OverrideForStore, model => model.ArtistPageMainImageSize, Model.ActiveStoreScopeConfiguration)
                        <label>Artist page main image size</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.ArtistPageMainImageSize)
                        @Html.ValidationMessageFor(model => model.ArtistPageMainImageSize)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.ArtistPageThumbnailSize_OverrideForStore, model => model.ArtistPageThumbnailSize, Model.ActiveStoreScopeConfiguration)
                        <label>Artist page thumbnail size</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.ArtistPageThumbnailSize)
                        @Html.ValidationMessageFor(model => model.ArtistPageThumbnailSize)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.SongFileSampleMaximumUploadSize_OverrideForStore, model => model.SongFileSampleMaximumUploadSize, Model.ActiveStoreScopeConfiguration)
                        <label>Song file sample maximum upload size</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.SongFileSampleMaximumUploadSize)
                        @Html.ValidationMessageFor(model => model.SongFileSampleMaximumUploadSize)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.SongFileMaximumUploadSize_OverrideForStore, model => model.SongFileMaximumUploadSize, Model.ActiveStoreScopeConfiguration)
                        <label>Song file maximum upload size</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.SongFileMaximumUploadSize)
                        @Html.ValidationMessageFor(model => model.SongFileMaximumUploadSize)
                    </td>
                </tr>
            </table>
        </div><!--Artist Settings-->

        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.BusinessPageSearchUrl_OverrideForStore, model => model.BusinessPageSearchUrl, Model.ActiveStoreScopeConfiguration)
                        <label>Business page search url</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.BusinessPageSearchUrl)
                        @Html.ValidationMessageFor(model => model.BusinessPageSearchUrl)
                    </td>
                </tr>
            </table>
        </div><!--Business Settings-->

        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.PurchasedSongFeePercentage_OverrideForStore, model => model.PurchasedSongFeePercentage, Model.ActiveStoreScopeConfiguration)
                        <label>Purchased song fee percentage</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.PurchasedSongFeePercentage)
                        @Html.ValidationMessageFor(model => model.PurchasedSongFeePercentage)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.MicroMacroPaymentSwitchingAmount_OverrideForStore, model => model.MicroMacroPaymentSwitchingAmount, Model.ActiveStoreScopeConfiguration)
                        <label>Micro payments fixed processing fee</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.MicroMacroPaymentSwitchingAmount)
                        @Html.ValidationMessageFor(model => model.MicroMacroPaymentSwitchingAmount)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.MicroPaymentsFixedPaymentProcessingFee_OverrideForStore, model => model.MicroPaymentsFixedPaymentProcessingFee, Model.ActiveStoreScopeConfiguration)
                        <label>Micro payments fixed processing fee</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.MicroPaymentsFixedPaymentProcessingFee)
                        @Html.ValidationMessageFor(model => model.MicroPaymentsFixedPaymentProcessingFee)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.MicroPaymentsPaymentProcessingPercentage_OverrideForStore, model => model.MicroPaymentsPaymentProcessingPercentage, Model.ActiveStoreScopeConfiguration)
                        <label>Micro payments variable processing fee percentage</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.MicroPaymentsPaymentProcessingPercentage)
                        @Html.ValidationMessageFor(model => model.MicroPaymentsPaymentProcessingPercentage)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.MacroPaymentsFixedPaymentProcessingFee_OverrideForStore, model => model.MacroPaymentsFixedPaymentProcessingFee, Model.ActiveStoreScopeConfiguration)
                        <label>Macro payments fixed processing fee</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.MacroPaymentsFixedPaymentProcessingFee)
                        @Html.ValidationMessageFor(model => model.MacroPaymentsFixedPaymentProcessingFee)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.MacroPaymentsPaymentProcessingPercentage_OverrideForStore, model => model.MacroPaymentsPaymentProcessingPercentage, Model.ActiveStoreScopeConfiguration)
                        <label>Macro payments variable processing fee percentage</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.MacroPaymentsPaymentProcessingPercentage)
                        @Html.ValidationMessageFor(model => model.MacroPaymentsPaymentProcessingPercentage)
                    </td>
                </tr>
            </table>
        </div><!--Payment Settings-->

        <div>
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.EnableFacebookInvite_OverrideForStore, model => model.EnableFacebookInvite, Model.ActiveStoreScopeConfiguration)
                        <label>Enable Facebook Invite</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.EnableFacebookInvite)
                        @Html.ValidationMessageFor(model => model.EnableFacebookInvite)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.FacebookWebsiteAppId_OverrideForStore, model => model.FacebookWebsiteAppId, Model.ActiveStoreScopeConfiguration)
                        <label>Facebook App Id</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.FacebookWebsiteAppId)
                        @Html.ValidationMessageFor(model => model.FacebookWebsiteAppId)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.EchonestAPIKey_OverrideForStore, model => model.EchonestAPIKey, Model.ActiveStoreScopeConfiguration)
                        <label>EchoNest Api Key</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.EchonestAPIKey)
                        @Html.ValidationMessageFor(model => model.EchonestAPIKey)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.OverrideStoreCheckboxFor(model => model.SevenDigitalPartnerId_OverrideForStore, model => model.SevenDigitalPartnerId, Model.ActiveStoreScopeConfiguration)
                        <label>7Digital Partner Id</label>
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.SevenDigitalPartnerId)
                        @Html.ValidationMessageFor(model => model.SevenDigitalPartnerId)
                    </td>
                </tr>
            </table>
        </div><!--Third Party Application Settings-->
    </div>
}