@using Nop.Web.Framework;
@model Nop.Plugin.WebApi.MobSocial.Models.ConfigurationModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    if (!string.IsNullOrEmpty(Model.MessageText))
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @Model.MessageText
        </div>
    }
    <div class="content">
        <div class="content-header clearfix">
            <h1 class="pull-left">
                Configure mobSocial
            </h1>
            <div class="pull-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </div>
        <div id="product-edit" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a data-tab-name="tab-timeline" data-toggle="tab" href="#tab-timeline">Timeline Settings</a></li>
                <li><a data-tab-name="tab-user" data-toggle="tab" href="#tab-user">User Settings</a></li>
                <li><a data-tab-name="tab-battle" data-toggle="tab" href="#tab-battle">Battle Settings</a></li>
                <li><a data-tab-name="tab-album" data-toggle="tab" href="#tab-album">Album Settings</a></li>
                <li><a data-tab-name="tab-event" data-toggle="tab" href="#tab-event">Event Settings</a></li>
                <li><a data-tab-name="tab-artist" data-toggle="tab" href="#tab-artist">Artist Settings</a></li>
                <li><a data-tab-name="tab-business" data-toggle="tab" href="#tab-business">Business Settings</a></li>
                <li><a data-tab-name="tab-payment" data-toggle="tab" href="#tab-payment">Payment Settings</a></li>
                <li><a data-tab-name="tab-thirdparty" data-toggle="tab" href="#tab-thirdparty">Third Party Application Settings</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-timeline">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.TimelineSmallImageWidth_OverrideForStore, model => model.TimelineSmallImageWidth, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.TimelineSmallImageWidth)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.TimelineSmallImageWidth)
                                        @Html.ValidationMessageFor(model => model.TimelineSmallImageWidth)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-user">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.ProfilePictureSize_OverrideForStore, model => model.ProfilePictureSize, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.ProfilePictureSize)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.ProfilePictureSize)
                                        @Html.ValidationMessageFor(model => model.ProfilePictureSize)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.ShowProfileImagesInSearchAutoComplete_OverrideForStore, model => model.ShowProfileImagesInSearchAutoComplete, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.ShowProfileImagesInSearchAutoComplete)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.ShowProfileImagesInSearchAutoComplete)
                                        @Html.ValidationMessageFor(model => model.ShowProfileImagesInSearchAutoComplete)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.PeopleSearchAutoCompleteEnabled_OverrideForStore, model => model.PeopleSearchAutoCompleteEnabled, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.PeopleSearchAutoCompleteEnabled)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.PeopleSearchAutoCompleteEnabled)
                                        @Html.ValidationMessageFor(model => model.PeopleSearchAutoCompleteEnabled)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.PeopleSearchTermMinimumLength_OverrideForStore, model => model.PeopleSearchTermMinimumLength, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.PeopleSearchTermMinimumLength)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.PeopleSearchTermMinimumLength)
                                        @Html.ValidationMessageFor(model => model.PeopleSearchTermMinimumLength)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.PeopleSearchAutoCompleteNumberOfResults_OverrideForStore, model => model.PeopleSearchAutoCompleteNumberOfResults, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.PeopleSearchAutoCompleteNumberOfResults)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.PeopleSearchAutoCompleteNumberOfResults)
                                        @Html.ValidationMessageFor(model => model.PeopleSearchAutoCompleteNumberOfResults)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds_OverrideForStore, model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds)
                                        @Html.ValidationMessageFor(model => model.CustomerProfileUpdateViewCountAfterNumberOfSeconds)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab-battle">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.ShowVideoThumbnailsForBattles_OverrideForStore, model => model.ShowVideoThumbnailsForBattles, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.ShowVideoThumbnailsForBattles)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.ShowVideoThumbnailsForBattles)
                                        @Html.ValidationMessageFor(model => model.ShowVideoThumbnailsForBattles)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.DefaultVotingChargeForPaidVoting_OverrideForStore, model => model.DefaultVotingChargeForPaidVoting, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.DefaultVotingChargeForPaidVoting)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.DefaultVotingChargeForPaidVoting)
                                        @Html.ValidationMessageFor(model => model.DefaultVotingChargeForPaidVoting)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.VideoUploadReminderEmailThresholdDays_OverrideForStore, model => model.VideoUploadReminderEmailThresholdDays, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.VideoUploadReminderEmailThresholdDays)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.VideoUploadReminderEmailThresholdDays)
                                        @Html.ValidationMessageFor(model => model.VideoUploadReminderEmailThresholdDays)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.BattleVoteReminderEmailThresholdDays_OverrideForStore, model => model.BattleVoteReminderEmailThresholdDays, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.BattleVoteReminderEmailThresholdDays)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.BattleVoteReminderEmailThresholdDays)
                                        @Html.ValidationMessageFor(model => model.BattleVoteReminderEmailThresholdDays)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.SiteOwnerSponsorshipPercentage_OverrideForStore, model => model.SiteOwnerSponsorshipPercentage, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.SiteOwnerSponsorshipPercentage)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.SiteOwnerSponsorshipPercentage)
                                        @Html.ValidationMessageFor(model => model.SiteOwnerSponsorshipPercentage)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.BattleHostSponsorshipPercentage_OverrideForStore, model => model.BattleHostSponsorshipPercentage, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.BattleHostSponsorshipPercentage)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.BattleHostSponsorshipPercentage)
                                        @Html.ValidationMessageFor(model => model.BattleHostSponsorshipPercentage)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab-album">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.CustomerAlbumPictureThumbnailWidth_OverrideForStore, model => model.CustomerAlbumPictureThumbnailWidth, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.CustomerAlbumPictureThumbnailWidth)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.CustomerAlbumPictureThumbnailWidth)
                                        @Html.ValidationMessageFor(model => model.CustomerAlbumPictureThumbnailWidth)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.MaximumMainAlbumPictures_OverrideForStore, model => model.MaximumMainAlbumPictures, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.MaximumMainAlbumPictures)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.MaximumMainAlbumPictures)
                                        @Html.ValidationMessageFor(model => model.MaximumMainAlbumPictures)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.MaximumMainAlbumVideos_OverrideForStore, model => model.MaximumMainAlbumVideos, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.MaximumMainAlbumVideos)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.MaximumMainAlbumVideos)
                                        @Html.ValidationMessageFor(model => model.MaximumMainAlbumVideos)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab-event">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.EventPageSearchTermMinimumLength_OverrideForStore, model => model.EventPageSearchTermMinimumLength, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.EventPageSearchTermMinimumLength)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.EventPageSearchTermMinimumLength)
                                        @Html.ValidationMessageFor(model => model.EventPageSearchTermMinimumLength)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.EventPageSearchAutoCompleteNumberOfResults_OverrideForStore, model => model.EventPageSearchAutoCompleteNumberOfResults, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.EventPageSearchAutoCompleteNumberOfResults)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.EventPageSearchAutoCompleteNumberOfResults)
                                        @Html.ValidationMessageFor(model => model.EventPageSearchAutoCompleteNumberOfResults)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.EventPageAttendanceThumbnailSize_OverrideForStore, model => model.EventPageAttendanceThumbnailSize, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.EventPageAttendanceThumbnailSize)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.EventPageAttendanceThumbnailSize)
                                        @Html.ValidationMessageFor(model => model.EventPageAttendanceThumbnailSize)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab-artist">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.ArtistPageMainImageSize_OverrideForStore, model => model.ArtistPageMainImageSize, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.ArtistPageMainImageSize)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.ArtistPageMainImageSize)
                                        @Html.ValidationMessageFor(model => model.ArtistPageMainImageSize)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.ArtistPageThumbnailSize_OverrideForStore, model => model.ArtistPageThumbnailSize, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.ArtistPageThumbnailSize)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.ArtistPageThumbnailSize)
                                        @Html.ValidationMessageFor(model => model.ArtistPageThumbnailSize)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.SongFileSampleMaximumUploadSize_OverrideForStore, model => model.SongFileSampleMaximumUploadSize, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.SongFileSampleMaximumUploadSize)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.SongFileSampleMaximumUploadSize)
                                        @Html.ValidationMessageFor(model => model.SongFileSampleMaximumUploadSize)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.SongFileMaximumUploadSize_OverrideForStore, model => model.SongFileMaximumUploadSize, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.SongFileMaximumUploadSize)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.SongFileMaximumUploadSize)
                                        @Html.ValidationMessageFor(model => model.SongFileMaximumUploadSize)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab-business">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.BusinessPageSearchUrl_OverrideForStore, model => model.BusinessPageSearchUrl, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.BusinessPageSearchUrl)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.BusinessPageSearchUrl)
                                        @Html.ValidationMessageFor(model => model.BusinessPageSearchUrl)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab-payment">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.PurchasedSongFeePercentage_OverrideForStore, model => model.PurchasedSongFeePercentage, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.PurchasedSongFeePercentage)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.PurchasedSongFeePercentage)
                                        @Html.ValidationMessageFor(model => model.PurchasedSongFeePercentage)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.MicroMacroPaymentSwitchingAmount_OverrideForStore, model => model.MicroMacroPaymentSwitchingAmount, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.MicroMacroPaymentSwitchingAmount)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.MicroMacroPaymentSwitchingAmount)
                                        @Html.ValidationMessageFor(model => model.MicroMacroPaymentSwitchingAmount)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.MicroPaymentsFixedPaymentProcessingFee_OverrideForStore, model => model.MicroPaymentsFixedPaymentProcessingFee, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.MicroPaymentsFixedPaymentProcessingFee)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.MicroPaymentsFixedPaymentProcessingFee)
                                        @Html.ValidationMessageFor(model => model.MicroPaymentsFixedPaymentProcessingFee)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.MicroPaymentsPaymentProcessingPercentage_OverrideForStore, model => model.MicroPaymentsPaymentProcessingPercentage, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.MicroPaymentsPaymentProcessingPercentage)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.MicroPaymentsPaymentProcessingPercentage)
                                        @Html.ValidationMessageFor(model => model.MicroPaymentsPaymentProcessingPercentage)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.MacroPaymentsFixedPaymentProcessingFee_OverrideForStore, model => model.MacroPaymentsFixedPaymentProcessingFee, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.MacroPaymentsFixedPaymentProcessingFee)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.MacroPaymentsFixedPaymentProcessingFee)
                                        @Html.ValidationMessageFor(model => model.MacroPaymentsFixedPaymentProcessingFee)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.MacroPaymentsPaymentProcessingPercentage_OverrideForStore, model => model.MacroPaymentsPaymentProcessingPercentage, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.MacroPaymentsPaymentProcessingPercentage)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.MacroPaymentsPaymentProcessingPercentage)
                                        @Html.ValidationMessageFor(model => model.MacroPaymentsPaymentProcessingPercentage)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="tab-thirdparty">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.EnableFacebookInvite_OverrideForStore, model => model.EnableFacebookInvite, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.EnableFacebookInvite)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.EnableFacebookInvite)
                                        @Html.ValidationMessageFor(model => model.EnableFacebookInvite)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.FacebookWebsiteAppId_OverrideForStore, model => model.FacebookWebsiteAppId, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.FacebookWebsiteAppId)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.FacebookWebsiteAppId)
                                        @Html.ValidationMessageFor(model => model.FacebookWebsiteAppId)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.EchonestAPIKey_OverrideForStore, model => model.EchonestAPIKey, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.EchonestAPIKey)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.EchonestAPIKey)
                                        @Html.ValidationMessageFor(model => model.EchonestAPIKey)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        @Html.OverrideStoreCheckboxFor(model => model.SevenDigitalPartnerId_OverrideForStore, model => model.SevenDigitalPartnerId, Model.ActiveStoreScopeConfiguration)
                                        @Html.NopLabelFor(model => model.SevenDigitalPartnerId)
                                    </div>
                                    <div class="col-md-9">
                                        @Html.NopEditorFor(model => model.SevenDigitalPartnerId)
                                        @Html.ValidationMessageFor(model => model.SevenDigitalPartnerId)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    
}
